<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <%= for {loc, lastmod} <- @urls do %>
  <url>
    <loc><%= xml_escape(loc) %></loc><%= if lastmod do %>
    <lastmod><%= w3c_datetime(lastmod) %></lastmod><% end %>
  </url>
  <% end %>
</urlset>
