[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_save_path = .retry
stdout_callback = default
result_format = yaml
callbacks_enabled = timer
vars_plugins_enabled = host_group_vars,community.sops.sops

[privilege_escalation]
become = true
become_method = sudo

[ssh_connection]
pipelining = true
